body
{
    background-image: linear-gradient(to right,#A239EA,#FF94CC);
}
p{
    font-family: 'Fredoka One', cursive;
    display: inline;
    word-break: break-word;
    text-align: center;
    color: #EFEFEF;
    font-size: 8vw;
    padding: 18px;
    background-color:#444444;
    border-radius: 50%;
}
.label
{
    font-size: 15px;
}
@media (min-width:350px) and (max-width:600px){
    p{
        padding:8px;
    }
}
#clock_div
{
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
}
